# dependencies
node_modules
.pnp
.pnp.*

# next.js
.next
out
dist
build

# production
pnpm-lock.yaml
pnpm-workspace.yaml

# misc
.DS_Store
*.pem
public
.vercel
.agent
.git
.husky

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
